
</html>
<!DOCTYPE html>
<meta charset="utf-8">
<body>
    <%= javascript_include_tag "d3.v3.min.js" %>
    <%= javascript_include_tag "nv3d.js" %>
    <%= javascript_include_tag "app.js" %>
    <%= stylesheet_link_tag "nvcss.css" %>
    <div id="chart">
        <svg></svg>
    </div>
</body>
