<div>
  <button type="button" class="btn btn-primary active" onclick=drawEmailCharts()>Email service providers</button>
  <button type="button" class="btn btn-primary active" onclick=drawPosterCharts()>Users</button>
</div>

<%= content_tag "div", id: "forum_data", data: {postcounts: @post_counts, emailcounts: @email_counts, usersbyemail: @users_by_email } do %>
<% end %>

<%= javascript_include_tag "forumCharts.js" %>

<p></p>

<div id="buttonFeature"></div>

<div id="charts"></div>

<div id="usernames"></div>
