<div>
  <button type="button" class="btn btn-primary active" onclick=drawOwnerCharts()>Change owners</button>
  <button type="button" class="btn btn-primary active" onclick=drawChangeCharts()>Passed changes</button>
  <button type="button" class="btn btn-primary active" onclick=drawDomainsChart()>Owner domains</button>
</div>

<div id="info"></div>

<%= content_tag "div", id: "gerrit_data", data: {owners: @owners, changes: @changes, change_averages: @change_averages, domains: @domains} do %>
<% end %>

<%= javascript_include_tag "gerritCharts.js" %>

<p></p>

<div id="buttonFeature"></div>

<div id="charts"></div>
