<html>
    <!DOCTYPE html>
    <meta charset="utf-8">
    <body>
        <div class="container">

            <p id="notice"><%= notice %></p>

            <h1>Qt Community Stats</h1>

            <p>Visualizations from data of The Qt Company</p>

        </div>
    </body>
</html>
