<html>
    <!DOCTYPE html>
    <meta charset="utf-8">
    <body>
        <div class="container">

            <p id="notice"><%= notice %></p>

            <h1>Qt Community Stats</h1>

            <p>Visualisointeja The Qt Companyn ker채채m채st채 datasta</p>

        </div>
    </body>
</html>
