<html>
    <!DOCTYPE html>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <body>
        <div class="container">

            <p id="notice"><%= notice %></p>

            <h1>Qt Software Project</h1>

            <p>Visualisointeja The Qt Companyn ker채채m채st채 datasta</p>

        </div>
    </body>
</html>
