<% if logged_in %>

<li role="presentation" class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">Datakaaviot
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu" role="menu">
    <li><%= link_to 'Foorumidata', forum_charts_path %></li>
    <li><%= link_to 'Git-data', git_charts_path %></li>
  </ul>
</li>

<li><%= link_to 'Kirjaudu ulos', logout_path, method: :delete %></li>

<% else %>

<li><%= link_to 'Kirjaudu sisään', login_path%></li>

<% end %>
