<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar navbar-default">
    <div class="container">
        <%= link_to 'QtData', root_path, class: 'navbar-brand' %>
        <ul class="nav navbar-nav">
            <%= render 'layouts/navigation_links' %>
        </ul>
    </div>
</nav>
